/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* variables*/
:root {
    --body-bg: #f0f0f0;
    --button: #4e62f8;
    --light-purple: #363062;
    --heading-font: #333333;
    --primary: #a4aaed;
    --neutral: #ffffff;
    --button-hover: #4d3dfd;
}
/* universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo span{
    color: var(--button);

}
/* About */
#about-banner{
    background: url(../images/abt.jpg) no-repeat center center/cover;
    height: 70vh;;
}
.about-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--neutral);
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    padding: 10%;
    
    
}
.about-banner h1{
    font-size: 2em;
}
.about-banner p{
    font-size: 1.6em;
    padding: 5px;
}
.about-banner .learn{
    cursor: pointer;
    margin-top: 2px;
    background-color: var(--button);
    color: var(--neutral);
    padding: 5px;
}
/* about section with an image beside it */
.about-container{
    width: 80%;
    margin: 30px auto

}
.about-heading{
    text-align: center;
    font-size: 1.7em;
    color: var(--heading-font);
    margin-bottom: 10px;
}
.about-contents{
    display: flex;
    gap:70px;
    
}
.about-items{
display: flex;
flex: 1;

}
.about-text h3{
    font-size:1.6em;
    text-align: center;
    color: var(--deep-purple);
    margin-bottom: 20px;
}
.about-text p{
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 8px;
}
.about-text .de{
    color: var(--light-purple);
    font-size: 1.3em;
}

/* responsiveness */
@media screen and (max-width: 1024px){
    .about-container{
        width: 80%;
        margin: 20px auto
    
    }
    .about-contents{
        display: flex;
        flex-wrap: wrap-reverse;
        gap:70px;
        
    }
    .about-text p{
        text-align: justify;
    }
    .about-text .de{
        color: var(--light-purple);
        font-size: 1.3em;
    }

}

@media screen and (max-width: 480px) {
    .about-banner p{
        font-size: 1em;
    }

    .about-heading{
        font-size: 1.4em;
    }

    .about-text h3{
        font-size: 1em;
    }

    .about-text p{
        font-size: 0.9em;
        margin-bottom: 4px;
    }

    .about-images img{
        width: 100%
    }
    .footer-item li a{
        font-size: 0.9em;
    
    }
}