/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* variables*/
:root {
    --body-bg: #f0f0f0;
    --button: #4e62f8;
    --light-purple: #363062;
    --heading-font: #333333;
    --primary: #a4aaed;
    --neutral: #ffffff;
    --button-hover: #4d3dfd;
}
/* universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo span{
    color: var(--button);

}

#contact-banner{
    background-color: red;
    height: 50vh;
}
.contact-banner{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.contact-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
    margin: 35px auto;
}

.Cform-group{
    padding: 10px ;
    background-color: var(--primary);
    
}
.Cform-group label{
display: block;
font-size: 1.2em;
color: var(--neutral);

}
.Cform-group input{
width: 100%;
padding: 6px;
}
textarea {
    width: 100%;
    padding: 0.8em;
}
::placeholder{
    color: var(--button);
}
.contact-location{
    padding: 5px;
}
.list{
    font-size: 1em;
    color: var(--button);
    margin-bottom: 5px;
    
}
.Cform-group a{
    color: var(--deep-purple);
}

/* responsiveness */
@media screen and (max-width: 1024px){
    .contact-container{
        display: grid;
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width: 480px){
   .contact-items img{
    width: 100%
   } 

   .Cform-group label{
    font-size: 0.9em;
   }

.list{
    font-size: 0.8em;
}

.footer-item li a{
    font-size: 0.9em;

}

}